<div class="container">
  <% @songs.each do |song| %>
    <div class="four columns  search">

      <h2><%= song[:title] %> </h2>

      <img src="<%= song[:artwork_url] %>" alt="">

      <form action="/songs/save" method="post">
        <%= token_tag %>
        <input type="hidden" name="track_id" value="<%= song[:itunes_song_id]%>">
        <button type="submit">Save</button>
      </form>

    </div>
  <% end %>
</div>
